<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Members</title>
</head>
<body>
<p>The queryset object:</p>
{{ mymembers }}
<br>
<p>The queryset object: KEY VAL</p>
{{ mymembers1 }}
<br>
<p>The queryset object: VALUE LIST</p>
{{ mymembers2 }}
<br>
<p>The queryset object: FILTER</p>
{{ mymembers3 }}
<br>

<table border='1'>
  <tr>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
  {% for x in mymembers %}
    <tr>
      <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
    </tr>
  {% endfor %}
</table>
</body>
</html>